@import './normalize.css';
@import './splide.min.css';

:root {
  font-family: 'Roboto', sans-serif;
}

.mainWrapper {
  width: 100%;
  min-height: 100vh;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  position: relative;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideImage {
  width: 100%;
  object-fit: contain;
}

.slide-1 {
  background: url('../static/1-bg.jpg');
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: 1fr minmax(auto, 1368px) 1fr;
}

.slideContent-1 {
  grid-area: content;
}

.slideContent-1__left {
  grid-area: left;
  height: 100%;
  background: url('../static/1-bg.jpg') top right;
}

.slideContent-1__right {
  grid-area: right;
  height: 100%;
  background: url('../static/1-bg.jpg');
}

.slide-2 {
  background: #efd1ad;
}

.slide-3 {
  background: #f2d9ba;
}

.slide-4 {
  background: url('../static/4-bg.jpg');
}

.slide-5 {
  padding: 32px;
  background: url('../static/1-bg.jpg');
}

.slide-6 {
  background: #e9eef2;
}

.slide-7 {
  background: url('../static/7-bg.jpg');
}

.slide-8 {
  background: #fff;
}

.slide-9 {
  background: #edecea;
}

.slide-10 {
  background: #0060c6;
}

.slide-11 {
  background: url('../static/1-bg.jpg');
}

.slide-12 {
  background: url('../static/12-bg.jpg');
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

.slideContent-12 {
  grid-area: content;
}

.slideContent-12__left {
  grid-area: left;
  height: 100%;
  background: url('../static/12-bg.jpg') top right;
}

.slideContent-12__right {
  grid-area: right;
  height: 100%;
  background: url('../static/12-bg.jpg');
}

.wrapper12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 100%;
  padding: 0 50px;
  background: url('../static/12-pic.jpg') center center no-repeat;
}

.wrapper12__upper {
  display: flex;
  margin-top: 350px;
}

.wrapper12__upperImage {
  display: none;
}

.wrapper12__upperButton {
  margin-right: 50px;
}

.wrapper12__upperButton:last-child {
  margin-right: 0;
}

.wrapper12__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 155px;
}

.bottomFormWrapper {
  margin-right: 70px;
}

.bottomForm {
  display: flex;
  align-items: center;
}

.bottomForm__title {
  display: block;
  width: 88px;
  margin-right: 12px;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
  color: #419bb5;
}

.bottomForm__input {
  box-sizing: border-box;
  width: 100px;
  height: 36px;
  margin-right: 12px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  background: none;
  outline: none;
  color: #fff;
}

.bottomForm__submit {
  height: 40px;
  padding: 8px 16px;
  border-radius: 3px;
  background: rgba(10, 84, 221, 0.7);
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.wrapper12__bottomPayPal {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 250px;
}

.bottomPayPal__text {
  margin-left: 20px;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  color: #419bb5;
}

.wrapper12__bottomLinks {
  display: flex;
  flex-direction: column;
}

.bottomLinks__link {
  margin-bottom: 20px;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.bottomLinks__link:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .wrapper12 {
    padding: 16px;
    align-items: center;
    background: none;
    min-height: initial;
  }

  .wrapper12__upper {
    flex-direction: column;
    margin-top: 42px;
  }

  .wrapper12__upperImage {
    display: block;
    margin-bottom: 32px;
  }

  .wrapper12__upperButton {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .wrapper12__upperButton:last-child {
    margin-bottom: 0;
  }

  .wrapper12__bottom {
    flex-direction: column;
    margin-top: 42px;
  }

  .bottomFormWrapper {
    margin-right: 0;
  }

  .wrapper12__bottomPayPal {
    margin: 42px 0 0 0;
  }

  .wrapper12__bottomLinks {
    margin-top: 42px;
  }

  .bottomLinks__link {
    margin-bottom: 8px;
  }
} 



/* -------------------- */
/* COMMON SLIDER STYLES */
/* -------------------- */

.my-class-arrow {
  opacity: 1;
  background: none;
  fill: #fefefe;
  width: 60px;
  height: 60px;
}

.my-class-arrow svg {
  width: 60px;
  height: 60px;
}

.slideContent.slideContent--slider {
  display: block;
}



/* -------- */
/* SLIDER 1 */
/* -------- */

.slideContent.slideContent--slider.slideContent--slider1 .splide {
  height: 600px;
}

.slideContent--slider1 {
  max-width: 1200px;
}

.slideContent.slideContent--slider.slideContent--slider1 .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent.slideContent--slider.slideContent--slider1 .splide__slide img {
	height: auto;
}

.my-class-arrow-next-1 {
  right: -3em;
}

.my-class-arrow-prev-1 {
  left: -3em;
}

@media (max-width: 1400px) {
  .my-class-arrow-next-1 {
    right: -2em;
  }
  
  .my-class-arrow-prev-1 {
    left: -2em;
  }
}

@media (max-width: 1000px) {
  .slideContent.slideContent--slider.slideContent--slider1 .splide {
    height: 400px;
  }

  .slideContent--slider1 {
    max-width: 600px;
  }

  .slideContent.slideContent--slider.slideContent--slider1 .splide__slide img {
    height: 400px;
  }

  .my-class-arrow-next-1 {
    right: -3em;
  }
  
  .my-class-arrow-prev-1 {
    left: -3em;
  }
}


/* -------- */
/* SLIDER 2 */
/* -------- */

.slideContent.slideContent--slider.slideContent--slider2 .splide {
  height: 550px;
}

.slideContent--slider2 {
  max-width: 1100px;
}

.my-class-arrow-next-2 {
  right: -3em;
}

.my-class-arrow-prev-2 {
  left: -3em;
}

.slideContent.slideContent--slider.slideContent--slider2 .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent.slideContent--slider.slideContent--slider2 .splide__slide img {
  max-width: 550px;
  max-height: 550px;
	width : 100%;
	height: auto;
}


@media (max-width: 1200px) {
  .slideContent--slider2 {
    max-width: 550px;
  }

  .my-class-arrow-next-2 {
    right: -4em;
  }

  .my-class-arrow-prev-2 {
    left: -4em;
  }
}