@import './normalize.css';
@import './splide.min.css';

:root {
  font-family: 'Roboto', sans-serif;
}

.mainWrapper {
  width: 100%;
  min-height: 100vh;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  position: relative;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideImage {
  width: 100%;
  object-fit: contain;
}

.slide-1 {
  background: url('../static/1-bg.jpg');
}

.slide-2 {
  background: #efd1ad;
}

.slide-3 {
  background: #f2d9ba;
}

.slide-4 {
  background: url('../static/4-bg.jpg');
}

.slide-5 {
  padding: 32px;
  background: url('../static/1-bg.jpg');
}

.slide-6 {
  background: #e9eef2;
}

.slide-7 {
  background: url('../static/7-bg.jpg');
}

.slide-9 {
  background: #edecea;
}

.slide-10 {
  background: #0060c6;
}

.slide-11 {
  background: url('../static/1-bg.jpg');
}

.slide-12 {
  background: url('../static/12-bg.jpg');
}

.wrapper12 {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 100%;
  padding: 0 150px;
  background: url('../static/12-pic.jpg') center center no-repeat;
}

.wrapper12__upper {
  margin-top: 350px;
}

.wrapper12__upperButton {
  margin-right: 50px;
}

.wrapper12__upperButton:last-child {
  margin-right: 0;
}

.wrapper12__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 155px;
}

.bottomFormWrapper {
  margin-right: 70px;
}

.bottomForm {
  display: flex;
  align-items: center;
}

.bottomForm__title {
  display: block;
  width: 88px;
  margin-right: 12px;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
  color: #419bb5;
}

.bottomForm__input {
  box-sizing: border-box;
  width: 100px;
  height: 36px;
  margin-right: 12px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  background: none;
  outline: none;
  color: #fff;
}

.bottomForm__submit {
  height: 40px;
  padding: 8px 16px;
  border-radius: 3px;
  background: rgba(10, 84, 221, 0.7);
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.wrapper12__bottomPayPal {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 250px;
}

.bottomPayPal__text {
  margin-left: 20px;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  color: #419bb5;
}

.wrapper12__bottomLinks {
  display: flex;
  flex-direction: column;
}

.bottomLinks__link {
  margin-bottom: 20px;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.bottomLinks__link:last-child {
  margin-bottom: 0;
}

/* COMMON SLIDER STYLES */
.my-class-arrow {
  opacity: 1;
  background: none;
  fill: #fefefe;
  width: 40px;
  height: 40px;
}

.my-class-arrow svg {
  width: 60px;
  height: 60px;
}

.slideContent.slideContent--slider {
  display: block;
}

/* SLIDER 1 */
.slideContent.slideContent--slider.slideContent--slider1 .splide {
  height: 650px;
}

.slideContent--slider1 {
  max-width: 1200px;
}

.slideContent.slideContent--slider.slideContent--slider1 .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent.slideContent--slider.slideContent--slider1 .splide__slide img {
	height: auto;
}

/* SLIDER 2 */
.slideContent.slideContent--slider.slideContent--slider2 .splide {
  height: 550px;
}

.slideContent--slider2 {
  max-width: 1100px;
}

.my-class-arrow-next {
  right: -3em;
}

.my-class-arrow-prev {
  left: -3em;
}

.slideContent.slideContent--slider.slideContent--slider2 .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent.slideContent--slider.slideContent--slider2 .splide__slide img {
  max-width: 550px;
  max-height: 550px;
	width : 100%;
	height: auto;
}